/EEPs/InventoryMgr/build/
/EEPs/InventoryMgr/dist/
/EEPs/InventoryMgr/nbproject/private/
/EEPs/OrderApp/build/
/EEPs/OrderApp/dist/
/EEPs/OrderApp/nbproject/private/
/EEPs/ShippingApp/build/
/EEPs/ShippingApp/dist/
/EEPs/ShippingApp/nbproject/private/
/LeafTech/Inventory Manager/build/
/LeafTech/Inventory Manager/dist/
/LeafTech/Inventory Manager/nbproject/private/